@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>This is a place to add all your cryptocurrency in one place to keep track of it. <br />
 There are different exchanges and you may have crypto on more than one exchange.</p>
