@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron " >
    <h1 class="text-capitalize">Crypto Portfolio</h1>
    <p class="text-justify text-left" >Crypto Portfolio is a place where you can put all your cryptocurrency purchases in one place and see your investments and gains/losses in one place. If you have purchased cryptocurrency on more than one exchange, it can take some time to login to all of these exchanges. It takes even more time if you have 2FA enabled. </p>
    <p><a href="https://en.wikipedia.org/wiki/Cryptocurrency" class="btn btn-primary btn-lg">Learn more about Cryptocurrency</a></p>

        
      
</div>

<h1>Top 3 CryptoCurrency Exchanges By Volume</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Binance</h2>
        <p>
            Binance is the largest exchange for cryptocurrency. 
        </p>
        <p><a class="btn btn-default" href="https://www.binance.us/en/home">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Huobi</h2>
        <p>Huobi is also a very large exchange. Find out more by clicking the button.</p>
        <p><a class="btn btn-default" href="https://www.huobi.com/en-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coinbase</h2>
        <p> Coinbase is proably the most known exchange in the US. Coinbase Pro can save large fees of Coinbase.</p>
        <p><a class="btn btn-default" href="https://www.coinbase.com/">Learn more &raquo;</a></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {

        $("#number")
            .selectmenu()
            .selectmenu("menuWidget")
            .addClass("overflow");
    });
</script>